/*
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
*/

/* Taken from http://stevesanderson.github.io/fixed-height-layouts-demo/two-columns.html, 
 * an example from the article 
 * http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/
 */
/* Pane configuration */
.left.col { width: 350px; }
.right.col { left: 350px; right: 0; }
.header.row { height: 35px; line-height: 35px; }
.body.row { top: 35px; bottom: 25px; }
.footer.row { height: 25px; bottom: 0; line-height: 25px; }

/*
#app-frame {
	position: relative;
	width: 100%;
	height: 100%;
}
#notmap {
	position: absolute;
	width: 300px;
	height: 100%;
}
#map {
	margin-left: 300px;
	height: 100%;
}
*/
/* There are some style 'options' that can be set within leaflet. See http://leafletjs.com/reference.html#path-options
 * However, the correspondence between those and the CSS properties required here is unclear!
 * Bare in mind that these are SVG styles. Perhaps look at the SVG spec? https://www.w3.org/TR/SVG/propidx.html
 */
.route {
	stroke-width: 4;
	stroke: #216500;
}
.route-selected {
	stroke-width: 4;
	stroke: yellow;
}
.route-hovered {
	stroke-width: 4;
	stroke: #9E7C09;
}
/* Both selected and hovered: */
.route-selected.route-hovered {
	stroke-width: 4;
	stroke: blue;
}
